snippet ack
	Acked-by: ${1}
snippet rev
	Reviewed-by: ${1}
snippet sof
	Signed-off-by: ${1}
snippet tst
	Tested-by: ${1}
snippet revbnik
	Reviewed-by: Nikita Danilov <nikita_danilov@xyratex.com>
snippet revon
	Reviewed-on: http://reviewboard.clusterstor.com/r/${1:XXX}
