[submodule "p/vim-pathogen"]
	path = p/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "p/GetLatestVimScripts"]
	path = p/GetLatestVimScripts
	url = git://github.com/vim-scripts/GetLatestVimScripts.git
[submodule "p/Align"]
	path = p/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "p/a"]
	path = p/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "p/BlockDiff"]
	path = p/BlockDiff
	url = git://github.com/vim-scripts/BlockDiff.git
[submodule "p/bufexplorer"]
	path = p/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
