[submodule "p/vim-pathogen"]
	path = p/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "p/a"]
	path = p/a
	url = https://github.com/vim-scripts/a.vim.git
	ignore = untracked
[submodule "p/BlockDiff"]
	path = p/BlockDiff
	url = https://github.com/chumakd/BlockDiff.git
	ignore = untracked
[submodule "p/genutils"]
	path = p/genutils
	url = https://github.com/chumakd/genutils.git
	ignore = untracked
[submodule "p/fugitive"]
	path = p/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "p/greplace"]
	path = p/greplace
	url = https://github.com/skwp/greplace.vim.git
	ignore = untracked
[submodule "p/The-NERD-tree"]
	path = p/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
	ignore = untracked
[submodule "p/repeat"]
	path = p/repeat
	url = https://github.com/vim-scripts/repeat.vim.git
	ignore = untracked
[submodule "p/surround"]
	path = p/surround
	url = https://github.com/vim-scripts/surround.vim.git
	ignore = untracked
[submodule "p/tagselect"]
	path = p/tagselect
	url = https://github.com/chumakd/tagselect.git
	ignore = untracked
[submodule "p/Gundo"]
	path = p/Gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "p/cscope_macros"]
	path = p/cscope_macros
	url = https://github.com/vim-scripts/cscope_macros.vim.git
	ignore = untracked
[submodule "p/cscope-quickfix"]
	path = p/cscope-quickfix
	url = https://github.com/chumakd/cscope-quickfix.git
	ignore = untracked
[submodule "p/nerdcommenter"]
	path = p/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "p/camelcasemotion"]
	path = p/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
	;url = https://github.com/bkad/CamelCaseMotion.git
	ignore = untracked
[submodule "p/clang_complete"]
	path = p/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
	ignore = untracked
[submodule "p/vim-colors-solarized"]
	path = p/vim-colors-solarized
	url = https://github.com/chumakd/vim-colors-solarized.git
	ignore = untracked
[submodule "p/vim-css-color"]
	path = p/vim-css-color
	url = https://github.com/ap/vim-css-color.git
	ignore = untracked
[submodule "p/tagbar"]
	path = p/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = untracked
[submodule "p/vim-easymotion"]
	path = p/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
[submodule "p/ack"]
	path = p/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "p/vim-eunuch"]
	path = p/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	ignore = untracked
[submodule "p/vim-dispatch"]
	path = p/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	ignore = untracked
[submodule "p/emmet-vim"]
	path = p/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	ignore = untracked
[submodule "p/vim-gnupg"]
	path = p/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
	ignore = untracked
[submodule "p/vim-scriptease"]
	path = p/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
	ignore = untracked
[submodule "p/vim-commentary"]
	path = p/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = untracked
[submodule "p/vim-exchange"]
	path = p/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
	ignore = untracked
[submodule "p/vim-rsi"]
	path = p/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
	ignore = untracked
[submodule "p/quick-scope"]
	path = p/quick-scope
	url = https://github.com/unblevable/quick-scope.git
	ignore = untracked
[submodule "p/vim-gitgutter"]
	path = p/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "p/vim-git"]
	path = p/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "p/vim-snippets"]
	path = p/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "p/vim-airline-themes"]
	path = p/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "p/vim-airline"]
	path = p/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "p/gitv"]
	path = p/gitv
	url = https://github.com/chumakd/gitv.git
[submodule "p/vim-unimpaired"]
	path = p/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "p/vim-speeddating"]
	path = p/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "p/tabular"]
	path = p/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "p/vim-css3-syntax"]
	path = p/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "p/vim-endwise"]
	path = p/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "p/vim-better-whitespace"]
	path = p/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "p/editorconfig-vim"]
	path = p/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "p/vim-vinegar"]
	path = p/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "p/NeoSolarized"]
	path = p/NeoSolarized
	url = https://github.com/chumakd/NeoSolarized.git
[submodule "p/vim-polyglot"]
	path = p/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "p/ale"]
	path = p/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "p/vim-characterize"]
	path = p/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "p/fzf-vim"]
	path = p/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "p/fzf"]
	path = p/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "p/scratch"]
	path = p/scratch
	url = https://github.com/chumakd/scratch.vim.git
[submodule "p/vim-linux-coding-style"]
	path = p/vim-linux-coding-style
	url = https://github.com/chumakd/vim-linux-coding-style.git
[submodule "p/vim-startify"]
	path = p/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "p/vim-visual-multi"]
	path = p/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "p/gv"]
	path = p/gv
	url = https://github.com/junegunn/gv.vim.git
[submodule "p/vim-go"]
	path = p/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "p/vim-signature"]
	path = p/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "p/vim-obsession"]
	path = p/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "p/vim-jdaddy"]
	path = p/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "p/vim-auto-highlight"]
	path = p/vim-auto-highlight
	url = https://github.com/chumakd/vim-auto-highlight.git
[submodule "p/nvim-treesitter"]
	path = p/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "p/nvim-treesitter-context"]
	path = p/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
[submodule "p/nvim-ts-context-commentstring"]
	path = p/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "p/nvim-lspconfig"]
	path = p/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "p/nvim-cmp"]
	path = p/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "p/cmp-nvim-lsp"]
	path = p/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "p/symbols-outline.nvim"]
	path = p/symbols-outline.nvim
	url = https://github.com/simrat39/symbols-outline.nvim.git
[submodule "p/playground"]
	path = p/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "p/hop.nvim"]
	path = p/hop.nvim
	url = https://github.com/phaazon/hop.nvim.git
[submodule "p/nvim-solarized-lua"]
	path = p/nvim-solarized-lua
	url = https://github.com/chumakd/nvim-solarized-lua.git
[submodule "p/lualine.nvim"]
	path = p/lualine.nvim
	url = https://github.com/chumakd/lualine.nvim.git
[submodule "p/nvim-web-devicons"]
	path = p/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "p/nvim-treesitter-textobjects"]
	path = p/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "p/plenary.nvim"]
	path = p/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "p/telescope.nvim"]
	path = p/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "p/trouble.nvim"]
	path = p/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "p/Comment.nvim"]
	path = p/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "p/litee.nvim"]
	path = p/litee.nvim
	url = https://github.com/ldelossa/litee.nvim.git
[submodule "p/litee-calltree.nvim"]
	path = p/litee-calltree.nvim
	url = https://github.com/ldelossa/litee-calltree.nvim.git
[submodule "p/yanky.nvim"]
	path = p/yanky.nvim
	url = https://github.com/gbprod/yanky.nvim.git
[submodule "p/doom-one.vim"]
	path = p/doom-one.vim
	url = https://github.com/romgrk/doom-one.vim.git
[submodule "p/doom-one.nvim"]
	path = p/doom-one.nvim
	url = https://github.com/chumakd/doom-one.nvim.git
[submodule "p/telescope-file-browser.nvim"]
	path = p/telescope-file-browser.nvim
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim.git
[submodule "p/which-key.nvim"]
	path = p/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "p/gitsigns.nvim"]
	path = p/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "p/vim-fetch"]
	path = p/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch.git
[submodule "p/diffview.nvim"]
	path = p/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "p/aerial.nvim"]
	path = p/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim.git
[submodule "p/lazygit.nvim"]
	path = p/lazygit.nvim
	url = https://github.com/kdheepak/lazygit.nvim.git
[submodule "p/indent-blankline.nvim"]
	path = p/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "p/vim-illuminate"]
	path = p/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "p/neo-tree.nvim"]
	path = p/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
[submodule "p/nui.nvim"]
	path = p/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "p/nvim-dap"]
	path = p/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "p/mason.nvim"]
	path = p/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "p/nvim-dap-ui"]
	path = p/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "p/telescope-dap.nvim"]
	path = p/telescope-dap.nvim
	url = https://github.com/nvim-telescope/telescope-dap.nvim.git
[submodule "p/onedark.nvim"]
	path = p/onedark.nvim
	url = https://github.com/chumakd/onedark.nvim.git
[submodule "p/onedark.vim"]
	path = p/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "p/d2-vim"]
	path = p/d2-vim
	url = https://github.com/terrastruct/d2-vim.git
[submodule "p/catppuccin.nvim"]
	path = p/catppuccin.nvim
	url = https://github.com/catppuccin/nvim.git
[submodule "p/lualine-lsp-progress"]
	path = p/lualine-lsp-progress
	url = https://github.com/arkav/lualine-lsp-progress.git
[submodule "p/nvim-colorizer.lua"]
	path = p/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua.git
[submodule "p/todo-comments.nvim"]
	path = p/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim.git
[submodule "p/neogit"]
	path = p/neogit
	url = https://github.com/NeogitOrg/neogit.git
[submodule "p/toggleterm.nvim"]
	path = p/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim.git
[submodule "p/harpoon"]
	path = p/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
[submodule "p/nvim-tree.lua"]
	path = p/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "p/LuaSnip"]
	path = p/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "p/friendly-snippets"]
	path = p/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "p/cmp_luasnip"]
	path = p/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "p/cmp-buffer"]
	path = p/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "p/cmp-nvim-lsp-signature-help"]
	path = p/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
[submodule "p/cmp-nvim-lua"]
	path = p/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua.git
[submodule "p/nvim-lsp-file-operations"]
	path = p/nvim-lsp-file-operations
	url = https://github.com/antosha417/nvim-lsp-file-operations.git
[submodule "p/undotree"]
	path = p/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "p/telescope-undo.nvim"]
	path = p/telescope-undo.nvim
	url = https://github.com/debugloop/telescope-undo.nvim.git
[submodule "p/toggleterm-manager.nvim"]
	path = p/toggleterm-manager.nvim
	url = https://github.com/ryanmsnyder/toggleterm-manager.nvim.git
[submodule "p/telescope-luasnip.nvim"]
	path = p/telescope-luasnip.nvim
	url = https://github.com/benfowler/telescope-luasnip.nvim.git
[submodule "p/telescope-helpgrep.nvim"]
	path = p/telescope-helpgrep.nvim
	url = https://github.com/catgoose/telescope-helpgrep.nvim.git
[submodule "p/telescope-git-conflicts.nvim"]
	path = p/telescope-git-conflicts.nvim
	url = https://github.com/Snikimonkd/telescope-git-conflicts.nvim.git
[submodule "p/nvim-bqf"]
	path = p/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf.git
[submodule "p/nvim-dap-virtual-text"]
	path = p/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text.git
[submodule "p/zen-mode.nvim"]
	path = p/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim.git
